/* Border Style */

#p1{
    border-style: solid;
    border-width: 5px;

}
/* Border-width*/
#p2{
    border-style: dashed;
    /*border-width:10px;
       border-width:0.9cm;
       border-width:thin;
       border-width; medium;*/
       border-width: thick;
       border-color: red;
    
}
#p3{
    border-style: solid;
    border-width: 5px 20px 30px;
    /*border-width: 3px 20px 10px; */

}

/*border-color*/

#p4{
    border-style: dotted solid dashed double;
    border-width:10px;
    /* border color: red;
       border-color:#ac24ff; */
       border-color: blue red green yellow;
    }
    /* Shorthand-border*/
    #p5{
        border: 2px solid red;
        padding: 20px;
        /* margin: 30px; */
        width: 300px;
        height :50px;
        box-sizing: border-box; 
    }
    #p55{
        border: 2px solid red ;
        padding: 0px;
        width: 300px;
        height:50px;
        box-sizing: border-box;
    }
    #p6 {
        /*
              border-left:2px solid red;
              border-right:4px dotted blue;*/
        border-top: 6px dashed green;
      
        /*		border-bottom:8px double yellow;*/
      }
      
      /*Border-radius*/
      
      #p7 {
        border-style: double;
        border-radius: 50%;
        width: 200px;
        height: 200px;
      }
      
      #p8 {
        border: 20px ridge red;
      }
      #p9 {
        border: 20px groove red;
      }
      
      #p10 {
        border: 20px inset red;
      }
      
      #p11 {
        border: 20px outset red;
      }